<div class="authform">
  <h3>Editar <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Esperando la confirmacion de: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Deja los campos en blanco si no queres cambiar la contrase単a.</p>
      <div class="form-group">
        <%= f.label :contrase単a %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :confirme_contrase単a %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <div class="form-group">
      <%= f.label :nombre %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :apellido %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :direccion %>
        <%= f.text_field :address, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :telefono %>
        <%= f.telephone_field :telephone, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :ubicaciones %>
        <%= f.text_field :places, :autocomplete => 'off', class: 'form-control' %>
      </div>  
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :contrase単a_actual %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Elmininar cuenta</h3>
<p>Estamos tristes por tu partida :(</p>
<%= button_to "Elmininar cuenta", registration_path(resource_name), :data => { :confirm => "Estas seguro?" }, :method => :delete, :class => 'button right' %>
</div>
